{% extends "wiki/article.html" %}
{% load wiki_tags i18n sekizai_tags staticfiles %}


{% block wiki_contents_tab %}
    <div>
        {% wiki_render article %}
    </div>
    {% if request.get_full_path == '/' %}
        <br>
        <div>
            <h4 class="classic-title"><span><i class="fa fa-book"></i> {% trans 'Available books' %}</span></h4>
            <nav>
                <ul class="pagination alphapager">
                    {% for book in books_list %}
                        <li><a class="tumbtail" href="/reader/{{ book.slug }}" style="z-index: 2;color:darkcyan;">
                            <img alt="{{ book.title }}" title="{{ book.title }}" height="50px" width="50px"
                                 class="" height="5px" width="10px"
                                 src="{{ book.cover.url }}">
                        </a></li>
                        {% empty %}
                        <p>{% trans 'No books yet' %}</p>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div>
            <h4 class="classic-title"><span><i class="fa fa-book"></i> {% trans 'Index of Articles' %}</span></h4>
            <nav>
                <ul class="pagination alphapager">
                    {% for url in url_children %}
                        <li class="">
                            <a href="{{ url.path }}">{{ url.char }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

        <div class="widget-tags">
            <h4 class="classic-title"><span><i class="fa fa-tags"></i> {% trans 'Tags' %}</span></h4>

            <div class="tagcloud">
                {% for tag in tags %}
                    <a class="btn btn-primary" href="{{ tag.url }}">{{ tag.name }} <span
                            class="badge">{{ tag.num_times }}</span> </a>
                {% endfor %}
            </div>
        </div>
        <br>
        {% block js %}
            {% addtoblock "js" %}
                <script type="text/javascript" src="{% static 'js/libs/owl.carousel.js' %}"></script>
            {% endaddtoblock %}
            {% addtoblock "js" %}
                <script type="text/javascript">
                    $('.wiki-article ol li a').attr({
                        target: '_blank',
                        rel: 'nofollow'
                    })
                </script>
            {% endaddtoblock %}
        {% endblock %}

    {% endif %}
{% endblock %}

{#отцентровать текст изображение в статье#}

