{% extends "base.html" %}
{% load wiki_tags i18n %}

{% block wiki_pagetitle %}{% trans "Chronology" %}{% endblock %}

{% block content %}
    <div class="row">
        <div>
            <h1 class="classic-title"><span><i class="fa fa-tags"></i>Хронология событий</span></h1>
            <h4>Информация которая подтверждает/дополняет информацию с книг Анастасии Новых.</h4>
            <hr>
            <p>На данный момент информация наполняется, если есть интересная информация, то добавте её в форму:</p>
            <iframe src="https://docs.google.com/forms/d/1bhFJa2d3NLfJi-hR1SiKAvxNw9O8NyI8kcByHKznQkA/viewform?embedded=true"
                    width="760" height="650" frameborder="0" marginheight="0" marginwidth="0">Loading...
            </iframe>
        </div>


    </div>
{% endblock %}
