{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}

  <style>
    #book_select li {
      display: inline;
    }
  </style>

  <header class="jumbotron hero-spacer">
            <h1>{% trans 'About app' %}</h1>
             <p>{% blocktrans %}This app allows you read books with interactive access for articles from encyclopedia. It  created by ALLATRA International Public Movement for humans.{% endblocktrans %}</p>
            <p>{% blocktrans %}ALLATRA International Public Movement was founded in 2012 on the basis of Lagoda International Public Organization. Today, participants of the movement are implementing a vast number of large-scale projects in different areas. The projects are being accomplished by the world's best volunteer experts from various walks of life who are not indifferent to the future of our civilization and who develop their professional and creative potential for the benefit of the whole humanity.{% endblocktrans %}</p>
            <p><a class="btn btn-primary btn-large" href="/reader/1">{% trans "Lets see how it's work" %}</a>
            </p>
        </header>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% trans 'Available books' %}</h1>
            </div>
        {% for book in books_list %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/reader/{{ book.pk }}">
                    <img class="img-responsive" src="{{ book.cover.url }}" alt="">
                    <h3 class="text-center">{{ book.title }}</h3>
                </a>
            </div>
          {% empty %}
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="items">
              <i><h3>{% trans 'No books yet' %}</h3></i>
            </div>
          </div>
        {% endfor %}
        </div>

{#  <section id="books-list">#}
{#  <div class="page-header">#}
{#    <h1>{% trans 'Available books' %}</h1>#}
{#  </div>#}
{#    <div class="jumbotron">#}
{#      <div class="container">#}
{#        {% for book in books_list %}#}
{#          <div class="col-lg-3 col-sm-6 col-xs-12">#}
{#            <div class="items">#}
{#              <i class="fa fa-book fa-5x">#}
{#                <a href="/reader/{{ book.pk }}"><h3>{{ book.title }}</h3></a>#}
{#              </i>#}
{#            </div>#}
{#          </div>#}
{#        {% empty %}#}
{#          <div class="col-lg-3 col-sm-6 col-xs-12">#}
{#            <div class="items">#}
{#              <i><h3>{% trans 'No books yet' %}</h3></i>#}
{#            </div>#}
{#          </div>#}
{#        {% endfor %}#}
{#      </div>#}
{#    </div>#}
{#  <br>#}
{#  </section>#}
{% endblock %}


